<h2>{{ isFormEdit ? 'Mettre à jour la recette' : 'Nouvelle recette' }}</h2>

<form [formGroup]="recipeForm" (ngSubmit)="submit()">

  <!-- TITLE -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Titre</mat-label>
    <input matInput formControlName="title" />
    <mat-error *ngIf="recipeForm.get('title')?.hasError('required')">
      Le titre est obligatoire
    </mat-error>
  </mat-form-field>

  <!-- DESCRIPTION -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput rows="3" formControlName="description"></textarea>
  </mat-form-field>

  <!-- SERVINGS -->
  <mat-form-field appearance="outline">
    <mat-label>Nombre de portions</mat-label>
    <input matInput type="number" formControlName="servings" min="1"/>
    <mat-error *ngIf="recipeForm.get('servings')?.hasError('min')">
        Le nombre de portions doit être au minimum 1
    </mat-error>
  </mat-form-field>

  <!-- IMAGE URL -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>URL de l'image</mat-label>
    <input matInput formControlName="imageUrl" placeholder="https://example.com/mon-image.jpg" />
  </mat-form-field>

  <!-- PREVIEW IMAGE -->
  <div *ngIf="imagePreview" class="image-preview-container">
    <img [src]="imagePreview" alt="Aperçu de l'image" class="image-preview" />
  </div>

  <h3>Ingrédients</h3>

  <!-- INGREDIENT LIST -->
  <div class="ingredients-list" formArrayName="ingredients">
    <div class="ingredient-item" *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i">
      
      <!-- Ligne Nom -->
      <mat-form-field class="ingredient-name" appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>

      <!-- Ligne Quantité + Unité + Supprimer -->
      <div class="ingredient-quantity-unit">
        <mat-form-field appearance="outline" class="ingredient-quantity">
          <mat-label>Quantité</mat-label>
          <input matInput type="number" placeholder="Quantité" formControlName="quantity" min="0"/>
          <mat-error *ngIf="recipeForm.get('servings')?.hasError('min')">
            La quantité doit être au minimum de 0.01
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="ingredient-unit">
          <mat-label>Unité</mat-label>
          <mat-select formControlName="unit">
            <mat-option *ngFor="let unit of unitOptions" [value]="unit">{{ unit }}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-icon-button type="button" color="warn" (click)="removeIngredient(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <!-- ADD INGREDIENT -->
  <button mat-button type="button" (click)="addIngredient({ name: '', quantity: 1, unit: unitOptions[0] })">
    + Ajouter un ingrédient
  </button>

  <br/>

  <h3>Étapes</h3>

  <!-- STEP LIST -->
  <div cdkDropList formArrayName="steps" (cdkDropListDropped)="dropStep($event)">
    <div class="step-item" *ngFor="let step of steps.controls; let i = index" [formGroupName]="i" cdkDrag>

      <div class="drag-handle" cdkDragHandle>
        <mat-icon>drag_handle</mat-icon>
      </div>

      <!-- Ligne Content -->
      <mat-form-field class="step-content" appearance="outline">
        <mat-label>Description de l'étape</mat-label>
        <textarea matInput formControlName="content"></textarea>
      </mat-form-field>

      <!-- upprimer -->
      <div >
        <button mat-icon-button type="button" color="warn" (click)="removeStep(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <!-- ADD STEP -->
  <button mat-button type="button" (click)="addStep('')">
    + Ajouter une étape
  </button>

  <!-- SUBMIT -->
  <div style="margin-top: 24px">
    <button mat-raised-button color="primary" type="button" (click)="cancel()">
      Annuler
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="recipeForm.invalid || (isFormEdit && !recipeId)">
      {{ isFormEdit ? 'Mettre à jour' : 'Créer la recette' }}
    </button>
  </div>

</form>
