<form (ngSubmit)="submit()" class="recipe-search-form" novalidate>
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Rechercher</mat-label>
    <input
      matInput
      [(ngModel)]="searchTerm"
      name="searchTerm"
      placeholder="ex: chocolat"
      autocomplete="off"
    />

    <button
      mat-icon-button
      matSuffix
      color="accent"
      aria-label="Rechercher"
      *ngIf="searchTerm && searchTerm.trim() !== ''"
      (click)="submit()"
      type="button"
    >
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
</form>